@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald&display=swap');
:root {
    --vertical-space: 2rem;
    --horiz-space: 3rem;
    --light-color: #DDDEC6;
    --dark-color: #2B231F;
    --heading-color: #000000;
    --contrast-color: #960000;
    --contrast-color-other: 102, 102, 102;
}

body {
    background-color: var(--light-color);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    color: var(--dark-color);

}

.navbar {
    background-color: var(--dark-color);
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    color: var(--light-color);
}

.page-container {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.my-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#firstPara {
    display: grid;
}

#mainPage {
 background-color: rgba(var(--contrast-color-other), .4);
}

p {
    margin: 0 1em;
    right: 10%;
    max-width: 55em;
    line-height: 1.5em;
    font-family: 'Barlow', sans-serif;
}

a {
    color: var(--dark-color);
    text-decoration: underline;
    text-decoration-color: var(--contrast-color);
}

#quickAccess>li>a{
    color: var(--light-color);
    text-decoration-color: var(--contrast-color);
}

a:hover {
    color: var(--contrast-color);
}

#quickAccess {
    margin: 15px 0;
}

#aboutm {
    padding-top: 1em;
}

h1,h2,h3 {
    line-height: 1.2em;
    font-family: 'Oswald', sans-serif;
    color: var(--heading-color);
}

#name {
    color: var(--light-color);
}

#headshot {
    height: 15em;
    border-radius: 3rem;
    border-style: double;
    border-color: var(--dark-color);
    border-width: 7px;
    justify-self: center;

}

body>footer {
    grid-area: foot;
    background-color: var(--dark-color);
    color: var(--light-color);


}


header,
footer {
    padding-top: var(--vertical-space);
    padding-bottom: 1.33rem;
    font-family: 'Oswald', sans-serif;
}

header h1,
footer h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

body>* {
    padding-left: var(--horiz-space);
    padding-right: var(--horiz-space);
}

body>nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 2.5rem;

}

body>nav ul li {
    display: inline;
    padding-right: 2rem;
    font-size: 1.25rem;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}

@media screen and (min-width: 420px) {

    body>nav ul li {
        display: block;
        font-size: 1.5rem;
    }

    .page-container {
        margin-top: 150px;
    }

    
}

@media screen and (min-width: 576px) {
    #firstPara {
        display: flex;
       
    }
    
    

    
}


@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    body#portfolio ul#portfolioItems li {
        width: 24%;
        flex-basis: 48%;
        padding: 0 1%;
    }
    body>nav ul li {
        display: inline;
    }

    body>nav ul {
        margin-top: 2rem;
    }
    .page-container {
        margin-top: 78px;
    }

}

@media screen and (min-width: 992px) {
    body {
        font-size: 20px;
    }

}

@media screen and (min-width: 1200px) {
    body {
        font-size: 24px;
    }

   

}

body>footer a {
    color: var(--light-color);
}

body#resume li {
    right: 10%;
    max-width: 55em;
    line-height: 1.5em;
    font-family: 'Barlow', sans-serif;

}

#resumePage h2 {
    text-decoration: underline;
}

#toTopButton{
    display: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: var(--contrast-color);
    color: var(--heading-color);
    z-index: 999;
}

.material-icons{
    font-size: 32px;
    font-weight: bold;
}