
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

/* Navbar Styles */
.navbar {
    background-color: #343a40; /* Dark background color */
    padding: 2px 20px; /* Add padding */
    position: sticky; /* Make the navbar sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it stays above other content */
}

.navbar-brand, .nav-link {
    color: #fff !important;
    font-size: 1.3em; /* Increase font size */
}

.nav-link:hover {
    color: #d4d4d4 !important;
}

.navbar-nav {
    margin-left: auto; /* Push the navbar items to the right */
    display: flex;
    justify-content: center; /* Center the links */
    gap: 20px; /* Add space between links */
}
/* Section Styles */
h1, h2 {
    color: #007bff;
    margin-bottom: 20px;
}

#about, #projects, #resume, #contact {
    padding: 40px 0;
    border-bottom: 1px solid #e9ecef;
}

#about p, #resume .education, #resume .experience {
    font-size: 1.1em;
    line-height: 1.6;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Project Card Styles */
.project {
    background-color: #fff;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column; /* Make the card a flex container */
}

.project:hover {
    transform: translateY(-10px);
}

.project img {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.project .card-body {
    padding: 20px;
    flex: 1; /* Allow the card body to grow and take up available space */
    display: flex;
    flex-direction: column; /* Make the card body a flex container */
    justify-content: space-between;
    height: 100%;
}

.project .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project .card-text {
    font-size: 1.1em;
    margin-bottom: 20px;
    flex: 1; /* Allow the card text to grow and take up available space */
}

.project .btn {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end; /* Align the button to the bottom */
}

.project .btn:hover {
    background-color: #0056b3;
}


/* Resume Styles */
#resume .education, #resume .experience {
    margin-bottom: 20px;
}

#resume h4 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

#resume p {
    margin: 0;
}

/* Contact Styles */
#contact p {
    font-size: 1.1em;
}

/* Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
